.div-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    max-width: 1160px;
    width: 100%;
}

.section-1-blue {
    background-image: url(../images/bg-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 900px;
    width: 100%;
}
.logo {
    font-size: 28px;
    font-weight: bold;
    color: #ffffff;
}
.header-fixed {
    display: flex;
    justify-content: space-between;
    padding: 60px;
}
.navigation-ul {
    display: flex;
}
.navigation-li {
    margin-right: 27px;
}
.navigation-a {
    color: #ffffff;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
}
.blue-div-title {
    margin-top: 54px;
}
.blue-div-title h1 {
    font-size: 100px;
    color: white;
    font-family: 'Lato', sans-serif;
}
.blue-div-text {
    margin-top: 40px ;
}
.blue-div-text p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #ffffff;
    width: 639px;
	text-align: center;
	line-height: 27px;
}
.blue-div-btn {
    margin-top: 54px;
}
.btn {
    color: #ffffff;
    background-color: blue;
    border-radius: 35px;
    border: none;
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
}
/*Second Section*/ 
.section-2 {
    display: flex;
    justify-content: space-between;
}
.left-box {
    width: 50%;
    padding: 86px;
}
.p-1 {
    font-size: 50px;
    font-family: 'Lato', sans-serif;
}
.p-2 {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin-top: 49px;
    margin-bottom: 60px;
}
.right-box {
    width: 50%;
}
.right-box img {
    width: 100%;
}
/* secton-3-grey */
.section-3-grey {
    background-color: #FAFAFA;
	padding-top:80px;
}
.container {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    
}
.section-3-title {
    font-size: 35px;
    font-family: 'Lato', sans-serif;
    text-align: center;
}
.section-3-p {
    width: 764px;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 95px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 25px;
    margin-left: auto;
    margin-right: auto;
}
.box_cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.block-for-3-box {
    display: flex;
	justify-content: space-between;
	align-items: center;
    margin-top: 80px;
    width: calc(100% / 3);
    max-width: 371px;
    padding: 67px 60px 44px 60px;
}
.small-box {
    background-color: #fff;
	width:369px;
	/* height: 372px; */
	flex-direction: column;
}
.small-box p {
    font-size: 16px;
	font-family: 'Poppins', sans-serif;
    text-align: center;
}  
.icon {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    background: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* section-4-bg */
.section-4-title {
    font-size: 35px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-top: 95px;
}
.section-4-p {
    width: 764px;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 95px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 25px;
    margin-left: auto;
    margin-right: auto;
}
.div-flowers {
    background-image: url(../images/image-3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 601px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.div-flowers h4 {
    font-size: 35px;
    color: white;
    font-family: 'Lato', sans-serif;
    text-align: center;
}
.div-flowers-text {
    margin-top: 30px;
}
.div-flowers-text p {
    width: 771px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-align: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.section-4 {
    display: flex;
    justify-content: space-between;
}
/* section-5 */
.section-5 {
    display: flex ;
    justify-content: space-between;
}
.right-box-2 {
    width: 50%;
    padding: 86px;
}
.left-box-2 {
    width: 50%;
}
.left-box-2 img {
    width: 100%;
}
/* section-6 */
.section-6 {
    display: flex;
    justify-content: space-between;
}
/* footer */
.footer {
    background-color: blue;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer p {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

/* responsive */
@media (max-width: 1024px) {
    .p-1 {
        font-size: 42px;
        color: red;
}
@media (max-width: 768px) {
    .p-1 {
        font-size: 24px;
        color: aqua;
}
@media (max-width:768px) {
    .section-3-grey {
        background-color: pink;
        width: 100%;
}
@media (max-width:768px) {
    .section-2 {
        flex-direction: column;
}
@media (max-width:768px) {
    .btn {
        background-color: red;
        border-radius: 25px;
        text-transform: lowercase;
        font-size: 10px;
}
@media (max-width:480px) {
    .section-6 {
        flex-direction: column-reverse;

}